.news-flash{
    border: 2px dashed #20a212;
    box-sizing: border-box;
    margin: 20px;
    padding-left: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,0.8);
    backdrop-filter: saturate(180%) blur(5px);
}